$wrapper: wrapper-dropdown;

.#{$wrapper} {
  /* Size and position */
  position: relative;
  padding: 0.4rem;
  height: 2rem;
  line-height: 1.2rem;
  box-sizing: border-box;

  /* Styles */
  background: #fff;
  color: gray;
  border: 1px solid gray;
  cursor: pointer;
  font-size: 0.9rem;
}

.#{$wrapper}:hover {
  color: black;
}

.#{$wrapper} .right {
  position: absolute;
  right: 0.2rem;
}

.#{$wrapper} .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  margin-top: 1px;  /* wrapper border */
  left: -1px;
  right: -1px;
  padding-left: 0;
  margin-bottom: 0;
  z-index: 5;

  /* Styles */
  background: white;
  border: 1px solid silver;
  border-top: none;
  list-style: none;

  /* Hiding */
  display: none;
}

.#{$wrapper} .dropdown li {
  position: relative;
  list-style-type: none;
  padding-top: 0;
}

.#{$wrapper} .dropdown li .item {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.#{$wrapper} .dropdown li label {
  display: block;
  padding: 0.7rem;
  color: black;
  font-weight: 300;
  padding-left: 1rem;
  text-indent: -1rem;
}

.#{$wrapper} .dropdown li input {  /* Checkbox */
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  cursor: pointer;
  top: -1px;
  margin-right: 0.5rem;
  margin-left: 0.25rem;
}

.#{$wrapper} .dropdown li input:focus {
  box-shadow: none;
}


/* Hover state */

.#{$wrapper} .dropdown li .item:hover {
  background: #f0f0f0;
}


/* Active state */

.#{$wrapper}.active {
  color: black;
}

.#{$wrapper}.active:hover {
  outline: 0;
}

.#{$wrapper}.active,
.#{$wrapper}.active .dropdown {
  display: block;
  box-shadow: 0 2px 5px gray;
}
