.tip-modal {
  width: 100% !important;
  max-width: 290px !important;
}

.tip-modal-wrapper {
  padding: 1rem 0.75rem;
}

.tip-modal-wrapper h3 {
  text-align: center;
}

.tip-modal-wrapper .tip-long {
  letter-spacing: 1px;
  line-height: 1.25rem;
}
