/* Example:
@import 'node_modules/<somename>/<path/to/scss>';
*/

/* Grid. */
@import 'node_modules/flexboxgrid/dist/flexboxgrid';


/* Date picker. */
@import 'node_modules/pikaday/css/pikaday';

.pika-single {
  font-family: Roboto, sans-serif;
}

.is-today .pika-button {
  color: blue;
}

.is-selected .pika-button {
  color: white;
  background: rgb(22, 22, 210);
  border-radius: 0;
}

.pika-button:hover {
  color: white;
  background: blue;
  border-radius: 0;
}

.pika-table abbr {
  cursor: default;
}
