$bg: white;
$outer-bg: rgb(247, 247, 247);
$border: rgb(203, 203, 203);
$border-radius: 4px;
$gray: rgb(108, 108, 108);

$header-height: 58px;


.invoice,
.invoice-outside {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  width: 100%;
  min-width: 245px;
  line-height: normal;
}

.invoice {
  font-size: 0.875rem;
  background: $outer-bg;
  border: 1px solid gray;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0.5rem;
}

.invoice-outside {
  position: relative;
  padding: 0.25rem;
  box-sizing: border-box;
}

.invoice-body {
  position: relative;
  background: $bg;
  padding: 1rem 0.5rem 0.8rem 0.5rem;
}

.invoice hr {
  margin: 0;
  border: $border;
  border-bottom: 0;
}

.invoice p {
  margin: 0;
}

.invoice textarea {
  box-sizing: border-box;
  padding: 4px 6px;
  width: 100%;
  border: 1px solid $border;
  border-radius: $border-radius;
  resize: none;
}

.invoice-element-title, .invoice th {
  text-transform: uppercase;
  color: $gray;
}

.invoice-element-title {
  padding-bottom: 0.25rem;
}

.invoice th {
  padding-bottom: 0.15rem;
}

.invoice-element-heavy {
  font-size: 1rem;
  font-weight: 400;
}

.invoice-element-secondary {
  color: $gray;
}

.invoice-main-bottom {
  position: relative;
}

.invoice-header {
  position: relative;
  height: $header-height;
}

.invoice-body .invoice-element-title,
.invoice-body .invoice-element-received {
  display: block;
}

.invoice-header .invoice-element-title {
  display: none;
}

.invoice-logo {
  position: absolute;
  border: 0;
  width: $header-height + 1px;
  height: $header-height + 1px;
  left: -1px;
  top: -1px;
  background: $bg;
}

.invoice-title {
  position: relative;
}

.invoice-title h2 {
  margin: 0;
  margin-left: calc(60px + 0.5rem);
  margin-right: 0.5rem;

  line-height: 1.225rem;
  font-size: 1.125rem;
  font-weight: 400;
  word-break: break-all;
  -moz-hyphens: auto;
}

.invoice-header p {
  position: relative;
  padding-top: 2px;
  margin-left: calc(60px + 0.5rem);
}


.invoice-action {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.invoice-action-large {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.invoice-action button {
  padding: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  background: $bg;
  border: 2px solid rgba(0, 90, 224, 0.6);
  color: rgb(0, 70, 175);
  border-radius: 3px;
}

.invoice-action button:hover:enabled {
  background: rgba(0, 90, 224, 0.1);
  border-color: rgb(0, 90, 224);
}


.invoice-address {
  width: 100%;
  padding-top: 1rem;
  word-break: break-all;
}

.invoice-qr {
  text-align: center;
}

.invoice-qr a {
  display: block;
  padding-bottom: 2rem;
}

.invoice-received {
  position: relative;
  text-align: left;
  padding-top: 1rem;
  width: 100%;
}

.invoice-element-received {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.invoice-cycle {
  padding-top: 0.25rem;
}

.invoice-status {
  padding-top: 1rem;
}

.invoice-paymethod {
  position: absolute;
  right: 0.5rem;
  bottom: 0.1rem;
  width: 80px;
  opacity: 0.6;
}

.invoice-payactive {
  opacity: 1;
}

.invoice-payinactive {
  pointer-events: none;
}


.invoice-bar {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.invoice-default-bar {
  background: rgb(222, 222, 222);
}

.invoice-progress-bar {
  background: rgb(0, 90, 224);
}

.invoice-bar-canceled {
  background: black;
}

.invoice-bar-expired {
  background: rgb(214, 37, 37);
  width: 100% !important;
}

.invoice-bar-paid {
  background: rgb(74, 162, 26);
  width: 100% !important;
}


.invoice-footer {
  padding-bottom: 1rem;
}

.invoice table {
  float: none;
  width: 100%;
  padding: 1rem 0.5rem 0 0.5rem;
  border-collapse: separate;
}

.invoice-footer:after {
  clear: both;
  content: " ";
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.invoice tr th {
  border-bottom: 1px solid $border;
  font-weight: 300;
}

.invoice tbody td:nth-child(2),
.invoice tbody td:nth-child(4) {
  text-align: right;
}

.invoice-footer table td.invoice-element-title {
  padding-top: 0.5rem;
}

.invoice-footer table td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.invoice a,
.invoice-outside a {
  text-decoration: none;
  color: rgb(0, 70, 175);
}

.invoice a:hover,
.invoice-outside a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.invoice-outside a {
  background: white;
  opacity: 0.8;
  padding: 4px 6px;
  border-radius: 3px;
}

.invoice-outside .link-provider {
  position: absolute;
  top: 0;
  right: 0.25rem;
}


.invoice-modal {
  width: 100% !important;
  max-width: 490px !important;
}

.invoice-modal div[tabindex="-1"] {
  background-color: transparent !important;
}

.invoice-modal-close {
  text-align: right;
}


@media (min-width: 490px) {

  .invoice,
  .invoice-outside {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .invoice {
    border-radius: $border-radius;
    border: 1px solid gray;
  }

  .invoice-outside {
    padding-left: 0;
    padding-right: 0;
  }

  .invoice-outside .link-provider {
    right: 0;
  }

  .invoice-logo {
    border-top-left-radius: $border-radius;
  }

  .invoice-title {
    position: absolute;
    height: $header-height;
    top: 0;
    left: calc(60px + 0.5rem);
    right: 11rem;
  }

  .invoice-title h2 {
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .invoice-header .invoice-element-title {
    display: block;
  }

  .invoice-header p {
    padding: 0.7rem 0.5rem 0 0;
    text-align: right;
  }

  .invoice-address {
    width: 48%;
  }

  .invoice-address-active {
    padding-bottom: 7rem;
  }

  .invoice-received-list {
    display: block;
    overflow-y: auto;
    max-height: 6rem;
  }

  .invoice-received {
    position: absolute;
    top: 0;
    right: 0.5rem;
    text-align: right;
    width: 42%;
  }

  .invoice-qr {
    position: absolute;
    top: 0;
    right: 0;
  }

  .invoice-qr a {
    padding-bottom: 0;
    position: absolute;
    bottom: -2px;
    right: 20px;
  }

  .invoice table {
    width: 50%;
    float: left;
  }

}
